<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{% block title %}ThingStore{% endblock %}</title>

		{% load staticfiles %}

		<link rel="shortcut icon" href="{% static 'thingstore/favicon.ico' %}">

		<!-- Bootstrap core CSS -->
		<link href="{% static 'thingstore/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static 'thingstore/css/jumbotron.css' %}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">ThingStore</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/impressum">Impressum</a></li>
								{% if user.is_staff %}
									<li class="divider"></li>
									<li class="dropdown-header">Management</li>
									<li><a href="/admin">Administration</a></li>
								{% endif %}
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ user.username }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/user/{{ user.username }}/">Profile</a></li>
									<li><a href="/settings/">Settings</a></li>
									<li class="divider"></li>
									<li><a href="/logout/">Logout</a></li>
								</ul>
						{% else %}
							<li><a href="/login/">Login</a></li>
							<li><a href="/signup/">Sign Up</a></li>
						{% endif %}
					  </ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		{% block header %}{% endblock %}

		<div class="container">
			{% block content %}{% endblock %}

			<hr>

			<footer>
				<p>Powered by <a href="https://github.com/tiefpunkt/thingstore">ThingStore</a>. Help us make this more awesome by contributing.</p>
			</footer>
		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="{% static 'thingstore/js/bootstrap.min.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
