{% extends "thingstore/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>Settings</h2>
					<ul class="nav nav-tabs">
						<li {% if tab == "things" %}class="active" {% endif %}><a href="#things">Things</a></li>
						<li {% if tab == "apikeys" %}class="active" {% endif %}><a href="#apikeys">API keys</a></li>
						<li {% if tab == "security" %}class="active" {% endif %}><a href="#">Security</a></li>
					</ul>
					
			<!-- Tab panes -->
			<div class="tab-content">
				{% if error %}
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ error }}
					</div>
				{% endif %}
				{% if message %}
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ message }}
					</div>
				{% endif %}
				{% block tab_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
