{% extends "thingstore/base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
		{% for metric in metrics %}
			<h3>{{ metric.name }}</h3>
			<div>Current: {{ metric.current_value }}{{ metric.unit }}</div>
			<div id="graph_{{ metric.id }}" style="height:180px;"></div>
		{% endfor %}
	</div>
	<div class="col-sm-4">
		<h2>{{ thing.name }}</h2>
		<p>Thing belongs to: {{ thing.owner }}</p>
		<p>{{ thing.description }}</p>
	</div>
</div>
{% endblock %}

{% block javascript %}
{% load staticfiles %}
<script language="javascript" type="text/javascript" src="{% static 'thingstore/js/jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'thingstore/js/jquery.flot.time.js' %}"></script>
<script type="text/javascript">
			$(function() {
	{% for metric in metrics %}
		var data_{{ metric.id }} = [{% for value in metric.value_dict %} [{{value.js_time}},{{value.value}}],{% endfor %}
		];
		$.plot("#graph_{{ metric.id }}", [data_{{ metric.id }}], {
			xaxis: { mode: "time",
				min: (new Date()).getTime() - {{ timeframe_hours }}*60*60*1000,
				max: (new Date()).getTime(),
			},
			points: { show: true },
			lines: { show: true },
		});
	{% endfor %}


	
	});
</script>
{% endblock %}
