{% extends "thingstore/base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
		<h2>Users</h2>
		{% if users %}
			<ul>
				{% for user in users %}
					<li><a href="{% url 'user' user.username %}">{{ user }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No users are available.</p>
		{% endif %}
	</div>
	<div class="col-sm-4">
		<h2>Things</h2>
		{% if latest_things %}
			<ul>
				{% for thing in latest_things %}
					<li><a href="{% url 'thing' thing.id %}">{{ thing.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No things are available.</p>
		{% endif %}
	</div>
	<div class="col-sm-4">
		<h2>About ThingStore</h2>
		<p>ThingStore is an open source project, allowing you to store and visualize numerical data from all kinds of sources. Connect sensors, monitor your computers, or track your finances.</p>
		<p><a class="btn btn-default" href="/about">View details &raquo;</a></p>
	</div>
</div>
{% endblock %}

{% block header %}
<div class="jumbotron">
	<div class="container">
		<h1>ThingStore</h1>
		<p>The thing where things go to store their stuff.</p>
		<p><a class="btn btn-primary btn-lg" href="/about">Learn more &raquo;</a></p>
	</div>
</div>
{% endblock %}
