{% extends "thingstore/base.html" %}
{% load form_extras %}

{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>
			{% if thing %}
			  Edit Thing - {{ thing.name }}
			{% else %}
				New Thing
			{% endif %}
		</h2>
		<form method="POST" class="form-horizontal" role="form">
			{% csrf_token %}
			{% for field in thing_form.visible_fields %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
					<div class="col-sm-8">
						{% if field.field.widget|fieldtype == "Textarea" %}
							<textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}">{{ field.value|default_if_none:"" }}</textarea>
						{% else %}
							<input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}" value="{{ field.value|default_if_none:"" }}">
						{% endif %}
					</div>
					
					{% if field.errors %}
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ field.errors|join:", " }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		<h3>Metrics</h3>
		
   
		{{metric_formset.management_form}}
    {% for form in metric_formset %}
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-inline" role="form">
						{% for field in form.hidden_fields %}
							{{ field }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<div class="form-group col-sm-4">
								{% if field.field.widget|fieldtype == "CheckboxInput" %}
									<label class="checkbox-inline">
										{{ field }}
										{{ field.label }}
									</label>
								{% else %}
									<label class="sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
									<input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}" value="{{ field.value|default_if_none:"" }}">
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
			<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

